%div.row.artist-event-block
  %div.col-3.text-center.d-md-block.d-none
    - if event.image_url
      = image_tag(event.image_url)
  %div.col-9
    %h5 #{event.name}
    %h5.featuring
      - if event.supporting_artists != nil
        %span with #{event.supporting_artists}
    .event-info
      %h6 #{Time.at(event.date).strftime("%A, %B %e, %Y") }
      %h6 #{event.venue}, #{event.metro_area}
    .event-actions
      %a.btn.btn-sm.btn-outline-success{:href => event.ticket_url} Buy Tickets
  .col-12.full-size-ticket-url
    %a.btn.btn-sm.btn-outline-success{:href => event.ticket_url} Buy Tickets
