.container.card
  .card-body.text-center
    - if @playlist_url && @events
      %h2 Upcoming Concerts In Your Area
      %a.btn.btn-success{:href => @playlist_url, :target => "_blank"} Open Playlist

      %hr

      - @events.each do |event|
        %div.row.artist-event-block
          %div.col-md-3
            - if event.image_url
              = image_tag(event.image_url)
            -# %iframe{:allow => "encrypted-media", :allowtransparency => "true", :frameborder => "0", :height => "80", :src => "https://open.spotify.com/embed/artist/#{artist.spotify_id}", :width => "250"}
          %div.col-md-9
            %h3 #{event.name}
            - if event.supporting_artists != nil
              %h5 with #{event.supporting_artists}
            %h4 #{Time.at(event.date).to_formatted_s(:long) } - #{event.venue} - #{event.metro_area}
            %a.btn.btn-success{:href => event.ticket_url} Buy Tickets
        %hr.col-md-12
    - else
      %h3 Your personalized concert playlist is being created and will show up in your Spotify playlist when it's completed. Check back soon.
